@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CPSC1517 World</h1>
    <p>The current date time is @DateTime.Now</p>    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.InfoMessage != null) 
{
    <div class="alert alert-info">
        @Model.InfoMessage
    </div>
}

<form method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Your name:</label>
        <input type="text" class="form-control" id="username"
                name="Username" value="@Model.Username"
               placeholder="enter your name here">
    </div>
    <!-- TODO 1: add form field for a number field -->
    <div class="mb-3">
        <label for="age" class="form-label">Your age:</label>
        <input type="number" min="18" max="75" class="form-control" id="age"
               name="Age" value="@Model.Age"
               placeholder="enter your age here">
    </div>
    <!-- TODO 2: add form field for a select field -->
    <select class="form-select" aria-label="Select your stream" 
        name="DmitStream" >
        <option >Open this select menu</option>
        <option value="GP" >Game Programming</option>
        <option value="WD" >Web Development</option>
        <option value="CSD" >Computer Software Development</option>
    </select>
    <!-- TODO 3: add form field for a radio field for Gender (Male, Female, Other) -->
    <!-- TODO 4: add form field for a textarea field for a list of friends -->
    <!-- TODO 5: add form field for a checkbox field for Subscribe to Spam -->
    <!-- TODO 6: add form field for a date field for Date of Birth -->
    <!-- TODO 7: add form field for a range field mood (0 to 100) -->
    <!-- TODO 8: add form field for a email field -->

    <button type="submit" class="btn btn-primary">Say Hello</button>

</form>
