@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CPSC1517 World</h1>
    <p>The current date time is @DateTime.Now</p>    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.InfoMessage != null) 
{
    <div class="alert alert-info">
        @Model.InfoMessage
    </div>
}

<form method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Your name:</label>
        <input type="text" class="form-control" id="username"
                name="Username" value="@Model.Username"
               placeholder="enter your name here">
    </div>

    <!-- TODO 1: add form fields for a number field and a date field -->
    <!-- TODO 2: add form field for a select field -->


    <button type="submit" class="btn btn-primary">Say Hello</button>

</form>
