@page
@model RazorPagesDemo.Pages.MultiplicationTableModel
@{
}
<h1>Multiplication Table</h1>

<form method="post">
    <div class="row">
        <div class="col">
            <input type="number" class="form-control"
                    asp-for="DigitsVertically"
                    min="1" max="12"
                   placeholder="digits vertically" aria-label="digits vertically">
        </div>
        <div class="col">
            <input type="number" class="form-control"
                    asp-for="DigitsHorizontally"
                   min="1" max="12"
                   placeholder="digits horizontally" aria-label="digits horizontally">
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary" asp-page-handler="Multiply">Generate Multiplication Table</button>
        <button type="submit" class="btn btn-success" asp-page-handler="Add">Generate Addition Table</button>
        <button type="submit" class="btn btn-info" asp-page-handler="Subtract">Generate Subtraction Table</button>

    </div>
</form>

@if(Model.TableTypeToGenerate is not null) 
{
    <table class="table table-bordered">
        @for(int row = 1; row <= Model.DigitsVertically; row++) 
        {
            <tr>
                @for( int column = 1; column <= Model.DigitsHorizontally; column++) 
                {
                    int result = 0;
                    if (Model.TableTypeToGenerate == Models.TableType.Multiplication) 
                    {
                        result = row * column;
                    }
                    else if (Model.TableTypeToGenerate == Models.TableType.Addition)
                    {
                        result = row + column;
                    }
                    else if (Model.TableTypeToGenerate == Models.TableType.Subtraction)
                    {
                        result = row - column;                    
                    }
                    if (row == column) 
                    {
                        <td style="background-color: chartreuse">@(result)</td>
                    }
                    else
                    {
                        <td>@(result)</td>
                    }
                }
            </tr>
        }
    </table>

}