@page
@model RazorPagesDemo.Pages.RollDiceModel
@{
}
<h1>Six-Sided Dice Roll Simulator</h1>
<img src="@Model.DiceFaceValueImage"
    alt="Dice Image"
    width="200px"
    height="200px"/>

@if(Model.InfoMessage != null) 
{
    <div class="alert alert-info">
        @Model.InfoMessage
    </div>
}


    <form method="post">

        <div>
      @*  <label for="BetAmount">Bet Amount</label>
        <input type="number" min="1" max="20"
               id="BetAmount" name="BetAmount" value="@Model.BetAmount" />
        </div>*@
        <label asp-for="BetAmount">Bet Amount</label>
        <input asp-for="BetAmount"  min="1" max="20" />

        <div>
        <label for="SelectedDiceSide">Select Dice Side</label>
            <select class="form-select"
                id="SelectedDiceSide"
                name="SelectedDiceSide">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                    <option value="6">Six</option>
            </select>

        </div>

        <button type="submit" class="btn btn-primary">Roll Dice</button>
    </form>